{% extends "base.html" %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Conferences</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="background: #fff;">
            <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Attend / Unattend</th>
            </tr>
            </thead>
            <tbody>
            {% for row in value %}
                <tr>
                    <td>
                        <a style="color: #007bff;" href="{{ url_for('sectionsForConference', conferenceId=row[0]) }}">
                            {{ row[1] }}
                        </a>
                    </td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    {% if row[4] is sameas true %}
                        <td>
                            <a style="color: #dc3545;" href="{{ url_for('unattend_conference', conferenceId=row[0]) }}">
                                Unattend
                            </a>
                        </td>
                    {% else %}
                        <td>
                            <a style="color: #28a745 ;" href="{{ url_for('attend_conference', conferenceId=row[0]) }}">
                                Attend
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}