{% extends "base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
        My messages
    </h1>
</div>
<ul>
    {% for row in value %}

   <li href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                {% if row.msgType == 1 %}
                <h4>Booking canceled</h4>
                {% elif row.msgType == 2 %}
                <h4>New Booking!</h4>
                {% elif row.msgType == 3 %}
                <h4>Your booked parking spot was updated</h4>
                {% endif %}
                <small>{{row.msgDate}}</small>
            </div>
            <p>{{row.message}}</p>
       <a style="color: #e60000 !important;" href="{{ url_for('remove_msg', msgId=row.id) }}">
                    <i class="fas fa-minus"></i>
                </a>
        </li>

    </ul>
    {% endfor %}

</div>
{% endblock %}